.bodyStyle {
	background-color: #1A3212;
	color: #afac87;
	display: block;
	height: 100vh;
	overflow: auto;
	width: 100%;
}

.header {
	height: 50px;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.Title {font-size: 1.3em;}

.content {
	padding: 0px 5px;
}

* { outline: none; }

.a{display:block}

.FlexBox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex
}

.FlexJustify {
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.HighZ {z-index: 200;}

.codeSty {
	background-color: white;
	color: black;
	margin: 0 80px;
}
