<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReactPatterns-Basic</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="ui-dist/app.css"/>

  </head>
  <body class="bodyStyle main">

    <header class="header" >
      <span class="Title">ReactPatterns-Basic Isometric</span>
    </header>

    <section id="react" class="content"><%- reactOutput %></section>

    <script src="ui-dist/lib.js"></script>
    <script src="ui-dist/app.js"></script>

  </body>
</html>
