.bodyStyle {
  background-color: #00303f;
  color: #eae3ea;
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.header {
  height: 30px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.Title {font-size: 1.3em;}

.content {
  height: 100%;
  padding: 0 5px;
}

.contentPage {
  margin: 5px auto;
  max-width: 1366px;
}

* { outline: none; }

.a{display:block}

.FlexBox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.FlexBoxCenter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.FlexBoxJustAround {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}

.FlexBoxJustBetween {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.FlexBoxWrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.FlexJustify {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.FlexBoxStretch {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-content: stretch;
}

.FlexItem {
  flex-grow: 1;
}

.HighZ {z-index: 200;}
