.editor :global(.public-DraftEditor-content) {
  max-height: 8em;
  overflow: auto;
}

.bodyStyle {
  background-color: ##fefefe;
  color: #363636;
  display: block;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

.Title {font-size: 1.3em;}

.content {
  height: 100%;
  overflow: hidden;
  padding: 0;
}

* { outline: none; }

.a{display:block}
iframe{border-width:0}

.FlexBox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.FlexBoxJustAround {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}

.FlexBoxJustAroundWrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.FlexBoxJustBetween {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.FlexBoxWrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.FlexJustify {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  justify-content: space-between;
}

.FlexBoxStretch {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-content: stretch;
}

.FlexItem {
  flex-grow: 1;
}

.HighZ {z-index: 200;}
